@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* .dropdown:hover .dropdown-menu { */
/* 	display: block; */
/* 	z-index: 10; */
/* } */
